body {
  background: linear-gradient(135deg, #FFD700, #ADFF2F, #00FA9A, #00CED1);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.MuiPaper-root {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.MuiTypography-root {
  color: #2E8B57;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.MuiButton-root {
  background-color: #3CB371;
  color: white;
  transition: transform 0.3s ease;
}

.MuiButton-root:hover {
  transform: scale(1.05);
  background-color: #2E8B57;
}